*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

button {
  font-family: inherit;
}
